.about-page {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: black;
    color: aquamarine;
}

.about-page img {
    height: 340px;
    width: 220px;
    border: 2px solid aquamarine;
    border-radius: 100px;
    margin-bottom: 15px;
}

.about-page p {
    display: flex;
    flex-direction: column;
    margin: 10px 10px;
    padding: 10px 10px;
}