.home {
    background-color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.home h1 {
    color: aquamarine;
}

.home img{
    height: 100%;
    width: 100%;
}