.product {
    background-color: aquamarine;
    border: 1px solid #333;
    height: 350px;
    width: 280px;
    display: inline-block;
    padding-top: 10px;
    margin: 15px 12px;
}

.product h5 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    font-size: 22px;
    margin: 3px 0 5px 0;
}

.product img {
    height: 240px;
    width: 260px;
}

.product label {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}